<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Start Here</a></li>
  <li class="{% if page.url contains '/pools/' %} active {% endif %}"><a href="{{ "/pools/" | absolute_url }}">Mining Pools</a></li>
  <li class="{% if page.url contains '/benchmark/' %} active {% endif %}"><a href="{{ "/benchmark/" | absolute_url }}">Mining Benchmark</a></li>
  <li class="{% if page.url contains '/projects/' %} active {% endif %}"><a href="{{ "/projects/" | absolute_url }}">Community Projects</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/fanart/' %} active {% endif %}"><a href="{{ "/fanart/" | absolute_url }}">Fanart</a></li>
</ul>
