<div class='links'>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
<h3>Courses</h3>
  <ul>
    {% for post in site.posts %}
    {% if post.type=="course" and post.course != page.course%}
      <li><a href="{{post.url}}">{{post.title | capitalize}}</a></li>
    {% elsif post.type=="course" and post.course == page.course%}  
      <li><a href="{{post.url}}" style="color:#f7b747;">{{post.title | capitalize}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class='links'>
  <h3>Lessons</h3>
  <ul>
    {% for post in site.posts %}
      {% if forloop.index > 10 %}
        {% break %}
      {% endif %}
     {% if post.type=="lesson" and post.course==page.course and post.title == page.title%}
       <li><a href="{{post.url}}" style="color:#f7b747;">{{post.title | capitalize}}</a></li>
     {% elsif post.type=="lesson" and post.course==page.course and post.title != page.title %}
       <li><a href="{{post.url}}">{{post.title | capitalize}}</a></li>
     {% endif %}
     {% endfor %}
  </ul>
</div>
<div class='four spacing'></div>
